
<div class="col-sm-4">
  <h1>Users</h1>

  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Create</th>
      <th>Read</th>
      <th>Update</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td *ngFor="let p of user.permissions">{{p.value}}</td>
      <!-- rounterLink uzima za vrednost niz, prvi parametar u nizu je string,
          drugi je number i bice konkatenirani da bi se dobio url -->
      <td><input type="button" [routerLink]="['/users/edit',user.id]" value="Edit"></td>
    </tr>
  </table>
</div>

