<div>
  <h3>Edit User</h3>

  <div>
    <form (submit)="editUser(id,firstName,lastName,email,password,createp,readp,updatep,deletep)" class="mb-5">
      <div class="form-group mb-2">
        <label for="firstName">Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="firstName" [(ngModel)]="firstName">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="lastName" [(ngModel)]="lastName">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="email" [(ngModel)]="email">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="password" [(ngModel)]="password">
        <input type="checkbox" id="createp" name="createp" [(ngModel)]="createp"><label>create</label><br>
        <input type="checkbox" id="readp" name="readp" [(ngModel)]="readp"><label>read</label><br>
        <input type="checkbox" id="updatep" name="updatep" [(ngModel)]="updatep"><label>update</label><br>
        <input type="checkbox" id="deletep" name="deletep" [(ngModel)]="deletep"><label>delete</label><br>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
